@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style  */
.flex {
    display: flex;
}

.font-color {
    color: #3A3A3A;
}

.gray {
    color: gray;
    font-size: 0.85rem;
    font-weight: 700;
}

/* Header style here  */
/* Navbar style  */
.navbar {
    justify-content: space-between;
    /* padding: 120px 87px; */
    max-width: 1188px;
    width: 100%;
    margin: 90px 120px 60px 120px;
    border: 1px solid black;
    align-items: center;
}

.list {
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;

}

.list li {
    list-style: none;
    margin-right: 34px;
}

.list li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.navbar h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Banner style here */
.banner {
    max-width: 1188px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    /* padding: 120px 87px; */
    margin: 2px 120px;
    border: 1px solid black;
    align-items: center;
}

.b-description {
    position: relative;
    bottom: 70px;
    border: 1px solid red;
}

.b-description h1 {
    font-size: 3.25rem;
    font-weight: 700;

}

.b-description p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 600;
}

.b-description button {
    background-color: #E02C6D;
    color: #FFFFFF;
    border-radius: 41px;
    width: 196px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: none;

}

.b-pic {

    position: relative;
}

.b-pic img {
    width: 100%;
}

.b-pic img:nth-child(2) {
    position: absolute;
    right: 10px;
}

/* Main styles here  */
/* logo styles here */
.logo {
    max-width: 1110px;
    max-height: auto;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
    justify-content: space-around;
    padding: 35px;
}

/* card styles here  */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.cards {
    max-width: 1047px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
}

.cards h3 {
    padding: 30px;
    text-align: center;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid white;
    max-width: 330px;
    max-height: 476px;
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.card .pic {
    max-width: 300px;
    max-height: 256px;
    margin: 16px;
}

.card .pic img {
    width: 100%;
    height: 100%;
}

.card .text {
    margin: 16px;
}

.card .text h4 {
    font-size: 1.75rem;
    font-weight: 500;
}

.card .text .dollar {
    font-size: 1.5rem;
    font-weight: 400;
}

.card .text .rating {
    justify-content: start;
    align-items: center;

}

.cards .see {
    justify-content: end;
}

.cards .see p,
.cards .see img {
    color: #E02C6D;
    filter: brightness(0) saturate(100%) invert(29%) sepia(86%) saturate(2780%) hue-rotate(330deg);
    font-size: 1rem;
    font-weight: 700;
}

/* feature style here  */
.feature {
    max-width: 1110px;
    height: auto;
    width: 100%;
    border: 1px solid red;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;


}

.feature .f-pic {
    max-width: 404px;
    width: 100%;
}

.feature .f-des {
    max-width: 610px;
    height: auto;
    width: 100%;
}

.feature .f-des h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #0A0826;
}

.feature .f-des p {
    max-width: 588px;
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
}

.feature .f-des button {
    max-width: 155px;
    width: 100%;
    margin-top: 16px;
    background-color: #E02C6D;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    border: none;
}


/* Responsive design  */

/* for mobile device */
@media screen and (max-width: 576px) {

    /* shared style  */
    .flex {
        flex-direction: column;
        text-align: center;
    }

    /* header styles here  */
    /* navbar styles here  */
    .navbar .list {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    /* banner styles here  */
    .banner {
        flex-direction: column-reverse;
        border: 1px solid black;
        align-items: center;
        gap: 100px;
    }

    .b-description {
        padding: 10px;

        position: relative;
        bottom: 70px;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .b-description button {
        flex-direction: row;
    }

    /* main styles here  */
    /* logo styles here  */
    .logo {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 60%;
        height: auto;

    }

    /* card styles here  */
    .grid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 30px;
    }

    .cards .rating {
        flex-direction: row;
    }

    .cards .see {
        flex-direction: row;
    }

    /* feature style here  */
    .feature {
        flex-direction: column-reverse;
        /* gap: 30px; */

        max-width: 1110px;
        height: auto;
        width: 100%;
        border: 1px solid red;
        margin: 100px auto;
        justify-content: space-between;
        align-items: center;


    }
    .feature .f-des{
        text-align: center;
        margin: 0 auto;
    }
    .feature .f-des button{
        flex-direction: row;
        margin: 30px auto;
    }
}